    <!-- Stake Section -->
    <section id="stake" class="content-section text-center">
        <div class="stake-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Stake with ADABAG</h2><br>
                    <p><font size="4">You will need to wait</font></p>
                    <p><font size="5" class="awesome">BAG</font></p>
                    <a href="https://shelleyexplorer.cardano.org/en/stake-pool/8ae3b0f092de83f78dbb510b2d8f481e5c1f3a47acd5b72ef83aa4aae9b7822c/" class="btn btn-default btn-lg><font size="1">8ae3b0f092de83f78dbb510b2d8f481e<br>5c1f3a47acd5b72ef83aa4aae9b7822c</font></a></p>
                </div>
            </div>
        </div>
    </section>